@import 'normalize.scss';

// --- Mixins ---
@mixin font-lato {
    font-family: 'Lato', sans-serif;
}

@mixin font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
// --- /Mixins ---

// --- Variables ---
$color-white: #fff;
// --- /Variables ---

// --- Common ---
* {
    box-sizing: border-box;
}

body {
    @include font-lato;

    color: #414141;
}

.section-outer {}
.section-inner {
    width: 1180px;
    margin: 0 auto;
}

.description-item {
    &__icon {
        margin-bottom: 20px;
        position: relative;

        img {
            width: 70px;
            height: auto;
        }
    }
    &__title {
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
    }
    &__text {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #6c6c6c;
    }
}

@mixin start-button {
    @include font-montserrat;

    font-size: 16px;
    margin: 0;
    padding: 16px 20px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn-main {
    @include start-button;

    border: none;
    background: linear-gradient(to right, #fe985b, #fe4fa7);
    color: $color-white;
}

.btn-secondary {
    @include start-button;

    border: 1px solid #414141;
    background: $color-white;
    color: #414141;
}


// --- /Common ---



// --- header --- 
.section-header {
    color: #fff;
    background: url('../img/bg-header.jpg') no-repeat 50% 50%;
    background-size: cover;
    position: relative;

    .section-inner {
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: 5;;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(20, 39, 41, .6 );
    }

    &-logo {
        font-weight: bold;
        font-size: 24px;
        flex-shrink: 1;
        padding-top: 35px;
    }
    &-content {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    &-wrapper {
        margin: 0 auto;

        &__title,
        &__subtitle {
            text-align: center;
        }

        &__title {
            font-weight: bold;
            font-size: 56px;
            line-height: 60px;
            margin-bottom: 16px;
        }
        &__subtitle {
            @include font-montserrat;

            font-size: 18px;
            line-height: 32px;
            width: 80%;
            margin: 0 auto 44px;
        }
        &__form {
            display: flex;

            &-input {
                flex: 1;
                padding-right: 40px;

                input {
                    @include font-montserrat;

                    border: none;
                    background: rgba(255, 255, 255, .25);
                    color: $color-white;
                    font-size: 16px;
                    margin: 0;
                    padding: 16px 20px;
                    outline: none;
                    border-radius: 4px;
                    width: 100%;

                    &::placeholder {
                        color: $color-white;
                    }
                }
            }
            &-button {}
        }
    }
}
// --- /header --- 

// --- promo --- 
.section-promo {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-promo-1 {
    display: flex;

    &__content,
    &__video {
        flex-basis: 50%;
    }

    &__content {
        padding-right: 90px;

        .title {
            font-size: 36px;
            line-height: 51px;
            font-weight: bold;
            margin-bottom: 56px;
        }

        .description-item {
            margin-top: 28px;
        }
    }
    &__video {
        img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }
}

.section-promo-2 {
    display: flex;
    padding-top: 86px;
    margin-top: 120px;
    border-top: 1px solid #e2e2e2;
    text-align: center;

    .description-item + .description-item{
        margin-left: 40px;
    }
}

// --- /promo --- 

// --- founder --- 
.section-founder {
    background-color: #f6fafd;
    padding-top: 34px;

    .section-inner {
        display: flex;
    }

    &__img {
        align-self: flex-end;
    }
    &__content {
        align-self: center;
        padding-left: 100px;

        &-text {
            @include font-montserrat;

            font-size: 24px;
            line-height: 40px;
        }
        &-name {
            font-size: 24px;
            line-height: 29px;
            font-weight: bold;
        }
        &-post {
            font-size: 20px;
            line-height: 29[x
            ];
        }
    }
}
// --- /founder --- 

// --- plans --- 
.section-plans {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

    &__title {
        font-size: 36px;
        line-height: 51px;
        font-weight: bold;
    }
    &__subtitle {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        width: 50%;
        margin: 0 auto 80px;
    }
    &__list {
        display: flex;
        justify-content: center;

        &-item {
            flex-basis: 370px;
            padding: 60px 45px;

            &_title {
                font-size: 14px;
                line-height: 17px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 26px;
            }
            &_price {
                margin-bottom: 26px;

                .prefix {
                    color: #f34fa7;
                    font-size: 72px;
                    line-height: 86px;
                    font-weight: bold;
                }
                .postfix {
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: bold;
                }
            }
            &_description {
                font-size: 16px;
                line-height: 28px;
                font-weight: 300;
                margin-bottom: 50px;
            }
            &_button {}

            &.active {
                background-color: #f6fafd;
            }
        }
    }
}
// --- /plans --- 

// --- free --- 
.section-free {
}
// --- /free --- 

// --- footer --- 
.section-footer {
}
// --- /footer --- 

